<div class="input-group">
  <ion-item lines="none" class="custom-input">
    <ion-icon name="mail-outline" slot="start"></ion-icon>
    <ion-input [(ngModel)]="email" name="email" type="email" placeholder="Email address" required> </ion-input>
  </ion-item>

  <ion-item lines="none" class="custom-input ion-margin-top">
    <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
    <ion-input [(ngModel)]="password" name="password" type="password" placeholder="Password" required> </ion-input>
  </ion-item>
</div>

<ion-button expand="block" (click)="submit()" [disabled]="loading()" class="main-submit-btn">
  @if (!loading()) {
    <span>{{ mode === 'login' ? 'Log in' : 'Create account' }}</span>
  }
  @if (loading()) {
    <ion-spinner name="crescent"></ion-spinner>
  }
</ion-button>

@if (error()) {
  <ion-text color="danger">
    <p class="error">{{ error() }}</p>
  </ion-text>
}
