<ion-tabs>
  <router-outlet></router-outlet>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="today">
      <ion-icon name="today-outline"></ion-icon>
      <ion-label>Today</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="health">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label>My health</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="restaurant-outline"></ion-icon>
      <ion-label>Nourish</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="learn">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Learn</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
